.user-card-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--dark-color-alt);
  padding: 10px;
  gap: 15px;
  margin-right: 40px;
  border-radius: 10px;
}
.user-card-container {
  display: flex;
}
.user-pfp-container {
  display: flex;
  align-items: center;
}
.user-pfp {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  /*border: 1px solid var(--dark-color-alt);*/
}
.user-card-left {
  display: flex;
  gap: 10px;
}
.user-card-mid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
}
.top-details {
  font-size: 1.3rem;
}
.bottom-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--light-color-alt);
}
.user-card-right {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.add-btn {
  background-color: transparent;
  border: none;
  color: var(--light-color-alt);
}
.add-btn:hover {
  cursor: pointer;
  color: var(--light-color);
}
.display-name {
  text-decoration: none;
}
.follows-container {
  display: flex;
  gap: 10px;
}
@media (max-width: 540px) {
  /*.user-card-container {*/
  /*  width: fit-content;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*}*/
}
