.post-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--dark-color-alt);
  border-radius: 5px;
  max-width: 500px;
  padding: 20px;
}
.post-header {
  display: flex;
  gap: 10px;
}
.post-header-left {
  display: flex;
  justify-content: center;
}
.post-userPfp {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.post-header-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5px;
}
.post-author {
  font-size: 1.1rem;
}
.post-date {
  color: var(--light-color-alt);
}
.post-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post-date-content {
  color: var(--light-color-alt);
}
.post-content {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 510;
}
.post-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.post-btns button {
  border: none;
  color: var(--light-color-alt);
  background-color: transparent;
}
.post-btns button:hover {
  cursor: pointer;
  color: var(--light-color);
}
.post-header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--light-color-alt);
}
.post-header-right:hover {
  cursor: pointer;
  color: var(--light-color);
}
.liked-post-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}
.post-container a {
  text-decoration: none;
}
.post-container a:hover {
  color: var(--light-color);
}
