:root {
  --dark-color: #1e272e;
  --dark-color-alt: #2f3a42;
  --light-color: #d2dae2;
  --light-color-alt: #808e9b;
  font-family: InterVariable, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
body {
  height: 100vh;
  background-color: var(--dark-color);
  color: var(--light-color);
}
button {
  font-weight: bold;
  padding: 2.5px 7px;
  width: fit-content;
}
a {
  color: var(--light-color);
  font-weight: bold;
}
a:hover {
  color: var(--light-color-alt);
}
.content {
  display: flex;
  max-width: 700px;
  margin: auto;
  margin-top: +25px;
  gap: 10px;
}
.post-composer-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
textarea {
  font-size: 1.3rem;
  font-weight: bold;
}
.post-composer {
  width: 100%;
  /*border-radius: 10px;*/
  height: 100px;
  padding: 15px;
  margin-bottom: 10px;
}
.submit-btn {
  display: flex;
  background-color: transparent;
  border: 0.5px solid var(--light-color-alt);
}

.main-content {
  flex: 3;
  max-width: 500px;
}
.sidebar-content {
  flex: 1;
}
.comments-list {
  display: flex;
  padding-left: 0;
  padding-right: 40px;
  flex-direction: column;
  gap: 20px;
}
.sidebar-toggle-container {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--light-color-alt);
}
.open-sidebar-btn {
  background-color: transparent;
  border: 1px solid var(--dark-color);

  color: var(--light-color-alt);
}
.sidebar-links {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
@media (max-width: 540px) {
  .sidebar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .content {
    flex-direction: column;
  }
  .sidebar-links {
    flex-direction: row;
    margin-top: 0;
  }
}
